fastapi
uvicorn
boto3
botocore
python-dotenv
mysql-connector-python
pymssql
psycopg2-binary
pandas
numpy
scikit-learn
category_encoders
scipy
python-jose[cryptography]
pydantic
bcrypt
python-multipart
google-genai
matplotlib
flask
xgboost
lightgbm
catboost
joblib
optuna
duckdb